// Place all the styles related to the Api::Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.background-session {
  background-image: url('/assets/session.jpg');
  height: 100vh;
  width: 100%;
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}

.session-form {
  width: 33%;
  left: 33.3%;
  position: absolute;

}

.session-form-header {
  color: white;
}

.main-session-form {
  padding-top: 290px;
  text-align: center;
}

.session-form-add-input div input {
  text-align: center;
}

.session-form-add-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.main-session-form * {
  margin: 3px;
}

.session-input-around {
  margin-top: 5px;
  padding: 0;
  background: #fff;
  border-radius: 5px;
  border: 1px solid black;
  display: inline-block;
  height: 32px;
  width: 265px;
  -webkit-box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
  padding-top: 0px;
}

.session-input-around-email {
  margin-top: 3px;
  padding: 0;
  background: #fff;
  border-radius: 5px;
  border: 1px solid black;
  display: inline-block;
  height: 32px;
  width: 265px;
  -webkit-box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
  padding-top: 0px;
  padding-right: 6px;
}

.session-input-around-username {
  margin-top: 5px;
  padding: 0;
  background: #fff;
  border-radius: 5px;
  border: 1px solid black;
  display: inline-block;
  height: 32px;
  width: 265px;
  -webkit-box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
  padding-top: 0px;
}

.session-input-around-email i {
  transform: translateX(15%);
}

.session-input-around i {
  margin-top: 5px;
  font-size: 20px;
}

.session-input-around input {
  margin-bottom: 20px;
}

.main-session-form input {
  text-align: center;
  border-radius: 5px;
  border: 1px solid black;
  background: #fff;
  color: #444;
  font-weight: 400;
  border-style: none;
  outline: none;
  background-color: transparent;
}

.main-session-form button {
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid black;
  background-color: gray;
  margin: 4px 6px;
  height: 32px;
  width: 110px;
  -webkit-box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  i {
    margin-left: 4px;
  }
}

.email-session-input {
  transform: translateY(-27%);
}

.username-session-input {
  transform: translateY(-25%);
}

.session-errors {
  transform: translateY(-145%);
  padding-left: 0;
}

.session-errors li {
  font-size: 20px;
  list-style: none;
  text-align: center;
  color: red;
  padding-left:0;
}

.username-session-input {
  transform: translate(-3%, -30%);
}

.upload-profile-picture {
  margin-top: 5px;
  padding: 0;
  background: #fff;
  border-radius: 5px;
  border: 1px solid black;
  display: inline;
  height: 37px;
  width: 350px;
  -webkit-box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
  padding-top: 0px;
}

.upload-profile-picture * {
  transform: translateX(5%);
}

.upload-profile-picture img {
  transform: translateY(-460%);
  display: inline-block;
  width: 64px;
  height: 64px;
  -webkit-box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
}

button:hover {
  border-radius: 4px;
  background: #73AD21;
  cursor: pointer;
  height: 32px;
  width: 120px;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
  transition: width 1s;
  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
  font-weight: bold;
  font: white;
}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
