// Place all the styles related to the BlogPosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blogpost-item {
    transform: translateX(70%);
    margin-top: 25px;
    background-color: white;
    width: 600px;
    border-radius: 8px;
    text-align: center;
    border: 2px solid black;
    -webkit-box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
    height: 100%;
    position: relative;
    .title {
      margin-top: 25px;
      margin-bottom: 15px;
      font-family: 'Ubuntu', sans-serif;
      font-weight: bold;
    }

    img {
      width: 100%;
    }

    video {
      width: 100%;
    }

    h1 {
      word-wrap: break-word;
      height: 100%;
      font-family: 'Ubuntu', sans-serif;
      font-weight: bold;
    }

    p {
      word-wrap: break-word;
      font-family: 'Ubuntu', sans-serif;
      margin-bottom: 50px;
    }
}

.blogpost-footer {
  .footer-likes {
    position: absolute;
    display: flex;
    flex-direction: row;
    z-index: 9;


    .like-count {
      font-family: 'Ubuntu', sans-serif;
      color: grey;
      transform: translate(1700%, -100%);
      z-index: 15;

    }

    i {
      transform: translate(1800%, -130%);
      color: grey;
    }

    i:hover {
      color: red;
      cursor: pointer;
    }
  }
}

.blogpost-header {
  .header-remove {
    position: absolute;
    display: flex;
    flex-direction: row;
    font-size: 24px;
    z-index: 9;
    i {
      transform: translate(5250%, 10%);
      position: absolute;
      color: grey;
    }

    i:hover {
      color: red;
      cursor: pointer;
    }

  }
  .header-edit {
    position: absolute;
    display: flex;
    flex-direction: row;
    font-size: 24px;
    z-index: 9;
    i {
      transform: translate(3980%, 16%);
      color: grey;
    }

    i:hover {
      color: red;
      cursor: pointer;
    }

  }
}

#edit-modal {
  position: relative;
  z-index: 15;
}

#edit-form {
  position: fixed;
  top: 125px;
  left: 65%;
  right: 0;
  background-color: white;
  width: 500px;
  height: auto;
  z-index: 15;
  border-radius: 8px;
  text-align: center;
  border: 2px solid black;
  -webkit-box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);

  .edit-title {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 22px;
    border: 1px solid grey;
  }

  img {
    width: 100%;
  }

  i {
    cursor: pointer;
    font-size: 35px;
    transform: translate(100%, -30%);
  }

  h2 {
    display: inline-block;
    width: 80%;
    transform: translateX(3%);
  }

  textarea {
    width: 450px;
    height: 200px;
    resize: none;
  }

  form {

    button {
      border-radius: 4px;
      cursor: pointer;
      border: 1px solid black;
      background-color: white;
      margin: 4px 6px;
      height: 32px;
      width: 110px;
      -webkit-box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
      -moz-box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
      box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
      font-family: 'Ubuntu', sans-serif;
      font-weight: bold;
    }

    button:hover {
      background-color: black;
      color: white;
    }

  }
}

.w3-container {
  position: fixed;
}
