// Place all the styles related to the BlogPosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blogpost-item {
    transform: translateX(70%);
    margin-top: 25px;
    background-color: white;
    width: 600px;
    border-radius: 8px;
    text-align: center;
    border: 2px solid black;
    -webkit-box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
    height: 100%;
    position: relative;
    .title {
      height: 30px;
      margin-top: 20px;
      margin-bottom: 50px;
      font-family: 'Ubuntu', sans-serif;
      font-weight: bold;
    }

    img {
      width: 100%;
    }

    video {
      width: 100%;
    }

    h1 {
      word-wrap: break-word;
      height: 100%;
      font-family: 'Ubuntu', sans-serif;
      font-weight: bold;
    }

    p {
      word-wrap: break-word;
      font-family: 'Ubuntu', sans-serif;
    }
}

.blogpost-footer {
  .footer-likes {
    position: absolute;
    display: flex;
    flex-direction: row;
    z-index: 9;

    .like-count {
      font-family: 'Ubuntu', sans-serif;
      color: grey;
      transform: translate(1700%, -100%);
      z-index: 15;

    }

    i {
      transform: translate(1800%, -130%);
      color: grey;
    }

    i:hover {
      color: red;
      cursor: pointer;
    }
  }
}

.blogpost-header {
  .header-remove {
    position: absolute;
    display: flex;
    flex-direction: row;
    font-size: 24px;
    z-index: 9;
    i {
      transform: translate(5250%, 10%);
      position: absolute;
      color: grey;
    }

    i:hover {
      color: red;
      cursor: pointer;
    }

  }
  .header-edit {
    position: absolute;
    display: flex;
    flex-direction: row;
    font-size: 24px;
    z-index: 9;
    i {
      transform: translate(3980%, 16%);
      color: grey;
    }

    i:hover {
      color: red;
      cursor: pointer;
    }

  }
}
