// Place all the styles related to the BlogPosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blogpost-item {
    transform: translateX(70%);
    margin-top: 25px;
    background-color: white;
    width: 600px;
    border-radius: 8px;
    text-align: center;
    border: 2px solid black;
    -webkit-box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
    height: 100%;

    .title {
      height: 30px;
      margin-bottom: 50px;
      font-family: 'Ubuntu', sans-serif;
      font-weight: bold;
    }

    img {
      width: 100%;
    }

    video {
      width: 100%;
    }

    h1 {
      word-wrap: break-word;
      height: 100%;
      font-family: 'Ubuntu', sans-serif;
      font-weight: bold;
    }

    p {
      word-wrap: break-word;
      font-family: 'Ubuntu', sans-serif;
      font-weight: bold;
    }
}

.blogpost-footer {
  .footer-likes {
    position: absolute;
    display: flex;
    flex-direction: row;

    left: 51%;
    transform: translateY(-60%);

    p {
      transform: translateY(-30%);
      font-family: 'Ubuntu', sans-serif;
      font-weight: bold;
      color: grey;

    }

    i {
      color: grey;
    }

    i:hover {
      color: red;
      cursor: pointer;
    }
  }
}

.blogpost-header {
  .header-remove {
    position: absolute;
    display: flex;
    flex-direction: row;
    font-size: 24px;
    left: 52%;
    z-index: 16;
  }
}
