#creation-modal {
  position: fixed;
  // width: 100%;
  // height: 100%;
  // background-color: black;
  z-index: 3;
}

#creation-form {
  background-color: white;
  width: 500px;
  min-height: 500px;
  height: 120%;
  z-index: 10;
  transform: translate(234%, 23%);
  border-radius: 8px;
  text-align: center;
  border: 2px solid black;
  -webkit-box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);

  p {
    font-family: 'Ubuntu', sans-serif;
    color: grey;
    display: inline;
  }

  input {
    font-family: 'Ubuntu', sans-serif;
    border: none;
    margin-bottom: 10px;
  }

  img {
    width: 100%;
  }

  i {
    cursor: pointer;
    font-size: 35px;
    transform: translate(720%, -10%);
  }

  h2 {
    display: inline-block;
    width: 80%;
    transform: translateX(3%);
  }

  textarea {
    font-family: 'Ubuntu', sans-serif;
    margin-top: 20px;
    width: 450px;
    height: 200px;
    resize: none;
    border: none;
  }

  form {

    button {
      border-radius: 4px;
      cursor: pointer;
      border: 1px solid black;
      background-color: white;
      margin: 4px 6px;
      height: 32px;
      width: 110px;
      -webkit-box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
      -moz-box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
      box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
      font-family: 'Ubuntu', sans-serif;
      font-weight: bold;
    }

    button:hover {
      background-color: black;
      color: white;
    }

  }
}

.w3-container {
  position: fixed;
}
