.dash-background {
  background-color: #39485D;
  width: 100%;
  min-height: 100vh;
  z-index: -1;
  margin-bottom: 0;
  height: 100%;

}

.blog-creation {
  position: relative;
  width: 600px;
  height: 110px;
  // border: 1px solid blue;
  transform: translate(62%, 100%);
  margin: 5px;
  // z-index: 4;
}

.dash-current-user-image {
  cursor: pointer;
  width: 64px;
  height: 64px;
  border-radius: 5px;
  transform: translateX(5%);
}

.create-blog-types {
  float: right;
  height: 100px;
  width: 510px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;


  div {
    border: 1px solid grey;
    height: 100%;
    width: 20%;
    padding: 4px;
    margin: 0px;
    text-align: center;
    border-radius: 5px;
    background-color: white;
    padding-top: 10px;
    cursor: pointer;
    p {
      position: absolute;
      bottom: 0;
      margin-left: 26px;
      font-family: 'Ubuntu', sans-serif;
      font-weight: bold;
    }
  }
}

.dash-right-side {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  transform: translate(1074px, 24px);
  z-index: 999;
}

.dash-recommended-users {
  width: 340px;
  height: 243px;
  margin-bottom: 50px;
  img {
    width: 46px;
    height: 46px;
    margin-right: 15px;
    cursor: pointer;
  }
  header {
    width: 340px;
    height: 27px;
    border-bottom: 2px solid grey;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: #606C7D;
  }
  li {
    margin-top: 5px;
    list-style: none;
    width: 340px;
    height:53px;
    border-bottom: 1px solid grey;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: #9098A4;
    i {
      margin-top: 8px;
      float: right;
      font-size: 32px;
      cursor: pointer;
    }

    i:hover {
      color: #A7CAE9;
    }
  }
}

.dash-recommended-blogpost {
  width: 320px;
  height: auto;
  border: 1px solid black;
}
