.dash-background {
  background-color: #39485D;
  width: 100%;
  min-height: 100vh;
  z-index: -1;
  margin-bottom: 0;
  height: 100%;

  .blogpost {
    transform: translateY(100px);
    z-index: -5;
  }
}

.blog-creation {
  position: relative;
  width: 600px;
  height: 110px;
  // border: 1px solid blue;
  transform: translate(62%, 100%);
  margin: 5px;
  // z-index: 4;
}

.dash-current-user-image {
  cursor: pointer;
  width: 64px;
  height: 64px;
  border-radius: 5px;
  transform: translateX(5%);
}

.create-blog-types {
  float: right;
  height: 100px;
  width: 510px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;


  div {
    border: 1px solid grey;
    height: 100%;
    width: 20%;
    padding: 4px;
    margin: 0px;
    text-align: center;
    border-radius: 5px;
    background-color: white;
    padding-top: 10px;
    cursor: pointer;
    p {
      position: absolute;
      bottom: 0;
      margin-left: 26px;
      font-family: 'Ubuntu', sans-serif;
      font-weight: bold;
    }
  }
}

.followed-users-content {

}
