.front-page-side {
  display: flex;
  flex-direction: column;
  position: fixed;
  transform: translate(10px, 347px);
  z-index: 99;
  font-size: 30px;
}
.alinks {
  text-decoration: none;
  color: black;
  cursor: pointer;
  z-index: 99;

}
.alinks:hover {
  color: red;
}

.whatisthis {
  width: 110%;
  height: 110%;
  z-index: 99;
  background-color: #57BA89;
  transform: translate(-5%, 402px);
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: white;
  font-size: 20px;
  text-shadow: 10px 10px 20px black;
}

.front-page-title {
  z-index: 11;
  position: absolute;
  height: 100vh;
  width: 100vw ;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 5vw;
    text-shadow: 10px 10px 20px black;
  }

  .math-icons {
    color: white;
    font-size: 3vw;
    text-shadow: 10px 10px 20px black;
    height: 100vh;
    width: 100vw ;
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    top: 43%;

  }

  .exist1 {
    transform: translate(-560%, 15%);
    font-size: 3vw;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 9s;
  }

  .forall {
    transform: translate(-20%, -25%);
    font-size: 5vw;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 8s;
  }

  .isin {
    transform: translate(-300%, 25%);
    font-size: 2vw;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 6s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 2s;
  }

  .sum {
    transform: translate(-570%, -4%);
    font-size: 3vw;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 3s;
  }

  .math1 {
    transform: translate(-420%, -1%);
    font-size: 4vw;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 12s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 5s;
  }

  .infin {
    transform: translate(-50%, -20%);
    font-size: 6vw;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 2s;
  }

  .math2 {
    transform: translate(285%, -15%);
    font-size: 4vw;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 13s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 7s;
  }

  .math3 {
    transform: translate(-40%, -20%);
    font-size: 5vw;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 12s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 6s;
  }

  .part {
    transform: translate(30%, -25%);
    font-size: 4vw;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 10s;
  }

  .empty {
    transform: translate(400%, -2%);
    font-size: 2vw;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 8s;
  }

  .math4 {
    transform: translate(330%, 16%);
    font-size: 4vw;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 10s;
  }

  .math5 {
    transform: translate(230%, -3%);
    font-size: 5vw;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 6s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 10s;
  }
}

.photo1 {
  background-image: url('/assets/math1.png');
  height: 100vh;
  width: 100%;
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}
.photo2 {
  background-image: url('/assets/math2.jpg');
  height: 100vh;
  width: 100%;
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}
.photo3 {
  background-image: url('/assets/math3.jpg');
  height: 100vh;
  width: 100%;
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}
.photo4 {
  background-image: url('/assets/math4.jpg');
  height: 100vh;
  width: 100%;
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}
.photo5 {
  background-image: url('/assets/math5.jpg');
  height: 100vh;
  width: 100%;
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}
.photo6 {
  background-image: url('/assets/math6.png');
  height: 100vh;
  width: 100%;
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}

@-webkit-keyframes example {
    from {color: white;}
    to {color: black;}
}

/* Standard syntax */
@keyframes example {
    from {color: white;}
    to {color: black;}
}
