.photo1 {
  background-image: url('./math1.png');
  height: 100vh;
  width: 100%;
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}
.photo2 {
  background-image: url('./math2.jpg');
  height: 100vh;
  width: 100%;
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}
.photo3 {
  background-image: url('./math3.jpg');
  height: 100vh;
  width: 100%;
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}
.photo4 {
  background-image: url('./math4.jpg');
  height: 100vh;
  width: 100%;
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}
.photo5 {
  background-image: url('./math5.jpg');
  height: 100vh;
  width: 100%;
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}
.photo6 {
  background-image: url('./math6.png');
  height: 100vh;
  width: 100%;
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}
