.main-nav-bar {
  position: fixed;
  z-index: 99;
  // margin: 0;
  width: 100%;
  padding: 15px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translateY(-6%);


  .nav-header-left, .nav-header-right{
    display: flex;
    align-items: center;
    justify-content: space-around;
    &:last-child {
      margin-left: 100px;
    }
  }

}

.main-nav-bar input {
  // transform: translateY(-5%);
  margin-left: 30px;
  background: #fff;
  color: #444;
  font-weight: 400;
  border-style: none;
  outline: none;
  width: 375px;
  height: 20px;
}

.around-search-bar {
  // transform: translateY(-15%);
  background: #fff;
  border-radius: 5px;
  border: 1px solid black;
  display: inline-block;
  height: 41px;
  width: 450px;
  -webkit-box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
}

.around-search-bar i {
  transform: translateX(70%);
  margin-top: 8px;
  font-size: 20px;
}

.main-nav-icon {
  cursor: pointer;
  margin-right: 10px;
}

.nav-button {
  border-radius: 4px;
  background: #73AD21;
  cursor: pointer;
  border: none;
  background-color: rgba(0,0,0,.0941176);
  margin: 0px 6px;
  height: 32px;
  width: 70px;
  float: right;
}


.session-button {
  float: right;
  margin-right: 0;
  position: relative;
  vertical-align: top;
  outline: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

.session-button > i {
  margin-right: 20px;
  color: #9CA3AE;
  cursor: pointer;
}

.session-button > i:hover {
  color: #A7CAE9;
}

.session-form button {
  margin-top: 7px;
  margin-bottom: 5px;
  background-color: transparent;
  font-family: 'Ubuntu', sans-serif;
}


.user-welcome {
  display: flex;
  flex-direction: column;
  float: right;
  margin-left: 5px;
  justify-content: center;

  span {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 18px;
    margin-right: 20px;
  }
}

.session-form-header {
  font-family: 'Ubuntu', sans-serif;
}

.profile-picture {
  width: 64px;
  height: 64px;
  cursor: pointer;
}

.nav-button {
  border-radius: 4px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  cursor: pointer;
  margin: 5px 6px;
  height: 32px;
  width: 100px;
  padding-left: 5px;
  -webkit-box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
  i {
    margin-left: 4px;
  }
}

.username {
  margin-top: 10px;
}

button:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}

.dash-right-side {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  transform: translate(1074px, 109px);
}

.dash-recommended-users {
  width: 340px;
  height: 243px;
  border: 1px solid black;
  margin-bottom: 50px;
}

.dash-recommended-blogpost {
  width: 320px;
  height: auto;
  border: 1px solid black;
}
