.main-nav-bar {
  position: fixed;
  z-index: 1;
  margin: 5px 10px;
  width: 98%;
}

.main-nav-bar input {
  transform: translateY(-10%);
  margin-left: 30px;
  background: #fff;
  color: #444;
  font-weight: 400;
  border-style: none;
  outline: none;
  width: 375px;
  height: 20px;
}

.around-search-bar {
  transform: translateY(-25%);
  margin-top: 25px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid black;
  display: inline-block;
  height: 32px;
  width: 450px;
  -webkit-box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
}

.around-search-bar i {
  transform: translateX(70%);
  margin-top: 5px;
  font-size: 20px;
}

.main-nav-icon {
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 35px;
}

.nav-button {
  border-radius: 4px;
  background: #73AD21;
  cursor: pointer;
  border: none;
  background-color: rgba(0,0,0,.0941176);
  margin: 0px 6px;
  height: 32px;
  width: 70px;
  float: right;
}

.session-button {
  float: right;
  margin-top: 10px;
  margin-right: 0;
  position: relative;
  vertical-align: top;
  outline: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;

}

.session-form button {
  margin-top: 7px;
  margin-bottom: 5px;
  background-color: white;
  font-family: 'Ubuntu', sans-serif;
}


.user-welcome {
  display: flex;
  flex-direction: column;
  float: right;
  margin-left: 5px;
  justify-content: center;

  span {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 18px;
  }
}

.session-form-header {
  font-family: 'Ubuntu', sans-serif;
}

.profile-picture {
  transform: translateX(10%);
  width: 64px;
  height: 64px;
  cursor: pointer;
}

.nav-button {
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  border: 1px solid black;
  margin: 5px 6px;
  height: 32px;
  width: 100px;
  -webkit-box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
  i {
    margin-left: 4px;
  }
}

.username {
  margin-top: 10px;
}
