.main-nav-bar {
  opacity: 1;
}

.main-nav-bar input {
  transform: translateY(-10%);
  margin-left: 30px;
  background: #fff;
  color: #444;
  font-weight: 400;
  border-style: none;
  outline: none;
  width: 375px;
  height: 20px;
}

.around-search-bar {
  transform: translateY(-50%);
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid black;
  display: inline-block;
  height: 32px;
  width: 450px;
}

.around-search-bar i {
  transform: translateX(80%);
  margin-top: 5px;
  font-size: 20px;
}

.main-nav-icon {
  cursor: pointer;
  margin-right: 10px;
}

.session-form button {
  border-radius: 4px;
  background: #73AD21;
  cursor: pointer;
  border: none;
  background-color: rgba(0,0,0,.0941176);
  margin: 0px 6px;
  height: 32px;
  width: 70px;
}

.session-button {
  float: right;
  margin-top: 10px;
  margin-right: 0;
  position: relative;
  vertical-align: top;
  outline: 0;
}

.session-button button {
  border-radius: 4px;
  background: #73AD21;
  cursor: pointer;
  border: none;
  background-color: rgba(0,0,0,.0941176);
  margin: 0px 6px;
  height: 32px;
  width: 70px;
}
