.user-info {
  transform: translate(300%, 80%);
  display: flex;
  flex-direction: column;
  position: fixed;

  img {
    transform: translateY(16px);
  }
  button {
    z-index: 5;
    margin-top: 7px;
    width: 100px;
    border-radius: 4px;
    color: white;
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
  }

  button:hover {
    background-color: white;
    color: black;
  }
}

.user-showpage {
  background-color: #39485D;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  transform: translateY(-22px);

  footer {
    transform: translateX(41%);
    margin-top: 25px;
  }
}
